<!doctype html>
  <html>
    <head>
      <link rel="stylesheet" href="{{ 'xterm.css' | asset_url }}" />
      <script src="{{ 'xterm.js' | asset_url }}"></script>
    </head>
    <body>
      <div id="terminal"></div>
      <script>
        const term = new Terminal();
        term.open(document.getElementById('terminal'));
        term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ')
      </script>
    </body>
  </html>
{% schema %}    
    {
      "name": "Terminal",
      "class": "TRMNL",
      "tag": "section",
      "settings": [
        
      ],
      "presets": [
        {
          "name": "Terminal",
          "settings": {
          }
        }
      ]
    }
{% endschema %}