{{ 'jquery-3.6.4.min.js' | asset_url | script_tag }}
{{ 'jquery.terminal.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.terminal.min.js' | asset_url | script_tag }}
<div id="terminal"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Terminal('#terminal', {
            greetings: 'Welcome to the jQuery Terminal',
            name: 'js_demo',
            height: 400,
            prompt: 'js> '
        }).echo(function(command, term) {
            if (command !== '') {
                term.echo('You typed: ' + command);
            } else {
                term.echo('');
            }
        });
    });
</script>
{% schema %}    
    {
      "name": "Terminal",
      "class": "TRMNL",
      "tag": "section",
      "settings": [
        
      ],
      "presets": [
        {
          "name": "Terminal",
          "settings": {
          }
        }
      ]
    }
{% endschema %}
{% style %}
    body, html {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
        background: red;
    }
    #terminal {
        height: 100%;
        width: 100%;
    }
{% endstyle %}