.quote-icon {
  display: block;
  margin-bottom: 1rem;
}

.quote-icon svg {
  width: 2rem;
}

.testimonial-stars {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 769px) {
  .testimonial-stars {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .quote-icon {
    margin-bottom: 1.5rem;
  }
  .page-width.page-width--full-width {
    padding: 0;
    max-width: none;
  }
}

.testimonials-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 2.5rem 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  /*   margin-bottom: 10px; */
  transform: scale(0.92);
  transition: transform 0.2s;
  transform-origin: center center;
}
.slick-slide {
  margin: 1rem 0.25rem;
}

.slick-current .testimonials-slide {
  transform: scale(1);
}

.testimonials-slide--center {
  align-items: center;
  text-align: center;
}

.testimonials-slide--right {
  align-items: flex-end;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .testimonials-slide {
    width: 100%;
  }

  .testimonials-slide .testimonials-slider__text {
    transform: scale(0.86);
  }

  .testimonials-slide.is-selected .testimonials-slider__text {
    transform: scale(1);
  }
}

@media only screen and (min-width: 769px) {
  .testimonials-slider__text {
    margin: 0;
    padding: 3rem;
    margin-bottom: 0;
  }
}

.testimonials-slider__text cite {
  font-style: normal;
  font-weight: 700;
}

@media only screen and (min-width: 769px) {
  .testimonials-slider__text cite {
    /*     font-size: calc(var(--typeBaseSize) + 1px); */
  }
}

.testimonials-slider__text p {
  margin-bottom: 0.75rem;
}

.testimonials-slider__text p + cite {
  margin-top: 0;
}

.testimonials-slide__testimonial p {
  margin-top: 0;
}

.testimonials-slide__author {
  font-weight: 700;
}

.testimonials__info {
  /*   font-size: calc(var(--typeBaseSize) - 1px); */
}

.testimonail-slide__image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonail-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.testimonials-section .flickity-page-dots {
  bottom: 0;
}